@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

*{
    font-family: 'poppins', sans-serif;
    overflow: none;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: #0f273d;
    height: 100%;
    overflow-y: hidden;
}

form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 900px;
	height: 600px;
	margin: 20px;
    border-radius: 4px;
    background: linear-gradient(100deg, #FAF3E0 70%, #7B5B4A 30%);
}

.image{
    position: relative;
    top: -276px;
    left: 450px;
}

input{
    margin-bottom: 20px;
    background-color: #7B5B4A;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 4px solid #35261f;
	width: 350px;
	color: #4e392e;
    border-radius: 4px;
    font-size: 25px;
    background-color: transparent;

}

textarea {
    margin-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 4px solid #35261f;
    background-color: #7B5B4A;
    height: 200px;
	width: 350px;
    color: #4e392e;
    resize: none;
    border-radius: 4px;
    font-size: 15px;
    background-color: transparent;
}

.submit{
    background-color: #F4F4F4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #33251e;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    width: 355px;
}

.submit:hover{
    background-color: #d4d4d4;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit:active{
    background-color: #757575;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
	height: 50%;
	top: 200px;
	position: relative;
	left: -500px;
}

h2{
	color: #8a7c78;
	margin: 10px;
	font-size: 40px;
    position: static;
    height: 50px;
    margin-left: 25px;
    margin-top: 45px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);

}

input::placeholder, textarea::placeholder{
	color: rgb(153, 153, 153);
}

button{
	background-color: rgb(187, 187, 187);
}

@media (max-width: 1079px) {

    body {
        margin: auto;
        width: 600px;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .content, .right {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    form {
        width: 100%;
        padding: 0 20px;
    }

    h2 {
        font-size: 30px;
        margin-top: 10px; 
    }

    input, textarea{
        width: 100%;
        background-color: transparent;
    }

    .submit{
        width: 100%;
    }

    .image{
        display: none;
    }
}
